.github/
.git/
data/
docker/
migrations/

.config.example.json
.dockerignore
.env
.env.example
.gitignore
docker-compose.prod.yml
docker-compose.yml
Dockerfile
README.md
setup

# from .gitignore

.idea/
.vscode/

db-dump/
demos/
secret/
sessions/
vendor/

debug.txt
demo_list

.config.json
.env
