services:
  server:
    build:
      context: .
      args:
        SERVER_NAME: board
    container_name: "${PROJECT_NAME}-server"
    restart: always
    stdin_open: true
    tty: true
    links:
      - database:database
    networks:
      - default
      - board-net
    volumes:
      - .config.json:/var/www/html/.config.json
      - ./docker/apache/boards.conf:/etc/apache2/sites-available/boards.conf
      - ./docker/logs/error.log:/var/log/apache2/error.log
      - ./docker/logs/access.log:/var/log/apache2/other_vhosts_access.log
      - ./docker/logs/debug.txt:/var/www/html/debug.txt
      - ./docker/php/board.ini:/etc/php/7.4/apache2/conf.d/board.ini
      - ./docker/volumes/cache:/var/www/html/cache:rw
      - ./docker/volumes/demos:/var/www/html/demos:rw
      - ./docker/volumes/sessions:/var/www/html/sessions:rw
  database:
    image: mariadb:11.4.2
    container_name: "${PROJECT_NAME}-db"
    restart: unless-stopped
    ports:
      - "127.0.0.1:${DATABASE_PORT}:3306"
    environment:
      MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
      MARIADB_USER: ${MARIADB_USER}
      MARIADB_PASSWORD: ${MARIADB_PASSWORD}
      MARIADB_DATABASE: ${MARIADB_DATABASE}
      MYSQL_TCP_PORT: 3306
    volumes:
      - ./docker/initdb:/docker-entrypoint-initdb.d
      - ./docker/volumes/mysql:/var/lib/mysql
      - ./docker/volumes/backups:/backups
networks:
    board-net:
      name: board-net
