/*HEADER*/

.dark #header{
    background: #202225;
    box-shadow: 0px 1px 5px #0002;
    -webkit-box-shadow: 0px 1px 5px #0002;
}

.dark #sitetitle{color:#fff;}
.nav_button>.btnLabel, .dark .nav_dropdown>.btnLabel{color:#b9bbbe;}

.dark #navigation>a:hover .btnLabel, #navigation>div:hover .btnLabel{
    color:#ffffff;
}

.dark .nav_button>.nav_icon, .dark .nav_dropdown>.nav_icon, #edition{
    filter:brightness(110%) invert(88%) sepia(50%) hue-rotate(180deg);
    -webkit-filter:brightness(110%) invert(88%) sepia(50%) hue-rotate(180deg);
}

.dark .nav_dropdown>ul {
    background-color: #282b30 !important;
    /*border-radius:5px;*/
    box-shadow: 0px 1px 2px #0008;
    -webkit-box-shadow: 0px 1px 2px #0008;
}
.dark .nav_dropdown li:first-child{ 
    border-radius:5px 5px 0px 0px; 
}

.nav_dropdown li:last-child{ 
    border-radius:0px 0px 5px 5px; 
}

.dark .nav_dropdown>ul .btnLabel{
    color: #a0a2a4;
}

.dark .nav_dropdown>ul .nav_icon{
    filter:brightness(110%) invert(85%) sepia(50%) hue-rotate(180deg);
    -webkit-filter:brightness(110%) invert(85%) sepia(50%) hue-rotate(180deg);
}

.dark .nav_dropdown li:hover{
    background-color:#25282d !important;
}.nav_dropdown li:hover .btnLabel{color:#fff;}



/*CONTENT*/

body.dark, .dark #content{
    background:#2a2c31;
}

.dark h1 {
    color:#4ba6db !important;
}

/*FOOTER*/

.dark #footer{
    background: #202225;
    color: #959699;
}

/*CHANGELOG*/

.dark #changelogActivity{
    background:none !important;
}

.dark #changelogActivity .morris-hover{
    background-color: #282b30 !important;
    border-radius:0px;
    border:none;
    color:#a0a2a4;
    box-shadow: 0px 1px 2px #0008;
    -webkit-box-shadow: 0px 1px 2px #0008;
}

.dark #changelog>#filters{
    background:#36393f;
    border-color:#36393f;
    /*border-radius:3px;*/
    box-shadow: 0px 1px 2px #0005;
    -webkit-box-shadow: 0px 1px 2px #0005;
}

.dark #changelog #filter_instructions_lol{
    color:#f6f6f7;
}

.dark #changelog label, .dark #changelog .check>div:first-child{
    color:#b9bbbe;
}

.dark #changelog input[type=text]{
    height:31px;
}

.dark #entries{
    box-shadow: 0px 0px 5px #0002;
    -webkit-box-shadow: 0px 0px 5px #0002;
}
.dark #entries .entry{
    background: #3e4146;
    color:#b9babc;
    border-bottom: 1px solid #36393e;
}
.dark #entries #firstentry, .dark #entries .entry[style="background: #d6d6d6"]{
    background-color: #36393e !important;
    border-bottom: 1px solid #3e4146;
    border-top:none;
    color:#b9babc;
}


/* CHAMBERS */

.dark #chambers .chamberimage{
    border:none;
}

.dark #chambers .chamber{
    background:#36393e;
    /*border-radius: 5px;*/
    border:none;
    overflow:hidden;
    box-shadow: 0px 1px 2px #0008;
    -webkit-box-shadow: 0px 1px 2px #0008;
}

.dark #chambers .firstplace{
    background: #3e4146 !important;
}

.dark #chambers .firstplace, .dark #chambers .othernoobscores{
    color:#c0c1c2 !important;
}

.dark #chambers .entry .youtube i{
    color: #aaa !important;
}

.dark #chambers .entry .youtube i:hover{
    color: #777 !important;
}

.dark #chambers .chambertitle .titlebg{
    background: #36393e;
}

.dark #chambers .chambertitle .titlebg a{
    color:#eee;
}

.dark #chambers .chambertitle .titlebghelper{
    background: none;
    border-bottom: 34px solid transparent;
    border-right: 20px solid #36393e;
}

/* AGGREGATED AND CHAMBERS */

.dark #aggregated #time, .dark #aggregated #points{
    width: 49.7%;
}

.dark #aggregated .entry, .dark #chamber .entry{
    background: #3e4146;
    border:none;
    border-bottom: 1px solid #36393e;
}

.dark #aggregated .entry[style*="background: #d3d3d3"], .dark #chamber .entry[style*="background: #d6d6d6"]{
    background: #36393e !important;
    border-bottom: 1px solid #3e4146;
}

.dark #aggregated .entry>div,.dark  #chamber .entry>div, .dark #chamber .entry>a{
    color:#b9babc;
}

/*PROFILE*/

.dark #profile{
    background:none;
}

.dark #profile #profileimage{
    width:110%;
    left:-5%;
}

.dark #profile .noactivity{
    background:none;
    color:#c0c1c2;
}

.dark #profile>div, .dark #profile .column-3>div>div{
    background:none !important;
    color:#c0c1c2 !important;
}


/*ABOUT*/
.dark #about .container,.dark #about td{
    color:#c0c1c2 !important;
}

.dark #about a{
    color:#fff;
    font-weight:bold;
}