@font-face{
    font-family: 'Aperture';
    src: url('/style/din1451alt.eot');
    src: url('/style/din1451alt.eot?#iefix') format('embedded-opentype'),
    url('/style/din1451alt.woff') format('woff'),
    url('/style/din1451alt.ttf') format('truetype'),
    url('/style/din1451alt.svg#din1451alt') format('svg');
}
html {
    height: 100%;
}
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Segoe UI;
    font-size: 12px;
    min-width: 1115px;
    /*min-width: 1319px;*/
}
form {
    margin-block-end: 1em;
}
label {
    display: block;
    font-family: Segoe UI;
    color: #4b4b4b;
}
input, select {
    display: block;
    font-family: Segoe UI;
    background: #fdfdfd;
    border: 1px solid #c2cbd0;
    color: #000;
    font-weight: normal;
}
input[type=text], input[type=number], input[type=date]  {
    height: 27px;
    font-family: Segoe UI;
    font-size: 11px;
    border: 1px solid #c2cbd0;
    background: #fdfdfd;
    padding-left: 5px;
    padding-right: 5px;
}

/* COLORING */
html, body {
    background: url("/images/debut_light.png") repeat;
    /*background: url("/images/debut_dark.png") repeat;*/
}
#header {
    position: relative;
    background: url("/images/header_bg.jpg");
    /*background: url("/images/header_bg_dark.jpg");*/
}
#profile {
    background: #fff;
    /*background: #888;*/
}
#profile .global-stats, #profile .chapterwrs-wrapper, #changelogActivity, #profile .noactivity, #profile .profile-title,
#profile .column-3 .block-content  {
    background: #f9f9f9;
    /*background: #bbb;*/
}
#changelog #changelogActivity .loading {
    width: 100%;
    margin: 50px auto auto;
    font-size: 75px;
    color: #2f96d1;
}
#profile #changelogactivity .loading {
    width: 100%;
    margin: 50px auto auto;
    font-size: 75px;
    color: #2f96d1;
}
#profile .global-stats, #profile .noactivity, #profile .noactivity span.manualsearch,
#profile .profile-title, #profile .column-3 .column, #profile a, #profile .scoretable {
    color: #777;
    /*color: #eee;*/
}
/* COLORING */


a {
    text-decoration: none;
    color: inherit;
}
a:hover, a:focus {
    text-decoration: underline;
    color: inherit; !important
}
#header {
    height: 92px;
    z-index: 999;
    /*min-width: 1330px;*/
}
#header_left, #header_right {
    height: 92px;
}
#header_left {
    float: left;
    padding: 0px 0px 0px 32px;
    position: relative;
    min-width: 770px;
}
#header_right {
    /*float: right;*/
    top: 0px;
    right: 0px;
    position: absolute;
    display: table;
    margin-right: 45px;
    min-width: 325px;
}
#header_right #userinfo{
    top: 20px;
    right: 0px;
    position: absolute;
}

#sitetitle {
    font-weight: 600;
    font-family: Aperture;
    font-size: 25px;
    color: #4b4b4b;
    /*letter-spacing: -0.5px;*/
    float: left;
    position: relative;
    /*top: -7px;*/
    margin-top: 15px;
    text-transform: uppercase;
}
#navigation {
    height: 29px;
    display: block;
    position: absolute;
    top: 58px;
    left: 28px;
    text-transform: uppercase;
    margin-top: -7px;
}
#navigation .nav_button, #navigation > .nav_dropdown {
    font-family: Segoe UI;
    font-size: 15px;
    /*font-weight: bold;*/
    /*letter-spacing: -0.5px;*/
    color: #3d3d3d;
    text-decoration: none;
    display: inline-block;
    line-height: 29px;
    text-transform: none;
}
#navigation .nav_button, #navigation .nav_dropdown {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
#navigation .nav_button:not(:first-child), #navigation > .nav_dropdown {
    margin-left: 15px;
}
#navigation .nav_icon {
    width: 29px;
    height: 29px;
    float: left;
    display: inline-block;
    font-family: Aperture;
    text-align: center;
    font-size: 17px;
    background-size: cover;
}
#navigation .btnLabel {
    display: inline-block;
    margin-left: 5px;
}
#navigation > div > .btnLabel, #navigation > a > .btnLabel {
    font-weight: 500;
}
#navigation .label:hover {
    /*color: #000;*/
}
#navigation > .nav_dropdown {
    display: inline-block;
}
#navigation .nav_dropdown {
    position:relative;
    vertical-align: top;
    cursor: pointer;
    position:relative;
}
#navigation .nav_dropdown li:hover {
    background: #ddd;
}
#navigation .nav_dropdown > ul {
    /*padding-top: 3px;*/
    position:absolute;
    top:29px;
    left:0px;
}
#navigation a {
    color: #3d3d3d;
}
#navigation .nav_dropdown li  {
    position:relative;
    list-style-type: none;
    /*margin-bottom: 3px;*/
}
#navigation .nav_dropdown li a  {
    /*margin-top: 1px;*/
    display: inline-block;
    width: 100%;
}
#navigation .nav_dropdown li a i {
    margin-top: 6px;
    font-size: 15px;
}
#navigation .nav_dropdown > ul ul {
    position:absolute;
    left: 140px;
    top: 0px;
}
/*#navigation .nav_dropdown li:hover ul, #navigation .nav_dropdown:hover > ul {
    visibility: visible;
}*/
#navigation .nav_list li {
    line-height: 29px;
    padding-bottom: 1px;
}
#navigation .nav_dropdown ul {
    /*background: url("/images/debut_light.png");*/
    background-color: #f3f3f3;
    visibility: hidden;
    -webkit-margin-before: 0px;
    -webkit-padding-start: 0px;
    padding-left: 0px;
    margin: 0px;
}
#sp_icon {
    background: url("/images/sp_noborder_gradient.jpg");
}
#coop_icon {
    background: url("/images/coop_noborder_gradient.jpg");
}
#cube_icon {
    background: url("/images/cube_noborder_gradient.jpg");
    background-size: 29px 29px;
}
#lp_icon {
    background: url("/images/lp_noborder_gradient.jpg");
}
#aperture_icon {
    background: url("/images/aperture_noborder_gradient.png");
    background-size: 29px 29px;
}
#time_icon {
    background: url("/images/time_noborder_gradient.jpg");
}
#loginsteam {
    display: block;
    width: 154px;
    height: 23px;
    background: url("/images/signsteambtn.png");
    float: left;
    margin: 15px 20px 0px 0px;
}
#userinfo {
    height: 49px;
    display:table-cell;
    vertical-align:middle;
    /* shit will not work in IE */
}
#seper {
    height: 56px;
    width: 2px;
    background: #3096d1;
    float: left;
    margin-top: -3px
}
#edition {
    float: left;
    margin: 0.5rem 0px 0px 1rem;
    background: url("/images/cakeicon.png") no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
}
.avatar {
    float: left;
    width: 38px;
    height: 38px;
    margin: 6px 15px 0px 5px;
}
#welcome {
    float: left;
    font-family: Segoe UI;
    font-size: 12px;
    color: #333;
    text-align: right;
    margin: 8px 10px 0px 15px;
}
#welcome a {
    color: #333;
}
.threelines {
    margin: 0px 10px 0px 15px !important;
}
#welcome .firstline {
    font-weight: bold;
}
#leastportals .chamber, #chambers .chamber {
    display: block;
    width: 265px;
    height: 332px;
    background: #f0f0f0;
    border-bottom: 2px solid #c3c3c3;
    float: left;
    margin: 5px 0px 10px 20px;
    box-sizing: content-box;
}
#leastportals .chamber.leastportals {
    height: 149px;
}
#leastportals .chamber.leastportals .chamberimage {
    border-bottom: 3px solid #3096d1;
}
#leastportals .portalsused {
    text-align: center;
    margin-top: 55px;
    color: #e1e1e1;
    font-size: 20px;
    font-family: Segoe UI;
    font-weight: bold;
    text-shadow: 0px 0px 3px #000000;
    filter: dropshadow(color=#000000, offx=0, offy=0);
    text-transform: uppercase;
}
#leastportals .portalamount {
    display: inline-block;
    font-size: 34px;
    position: relative;
    top: 3px;
    padding-right: 5px;
}
#chambers .youtubeEmbedButton .fa-youtube-play, #leastportals .youtubeEmbedButton .fa-youtube-play {
    color: #ac303C;
    font-size: 23px;
    margin-top: -2px;
    cursor: pointer;
}
#chambers .youtubeEmbedButton .fa-square, #leastportals .youtubeEmbedButton .fa-square  {
    color: #ddd;
    left: 0.5px;
    top: -2.6px;
    font-size: 16px;
    margin-left: 1px;
}
#chambers .youtubeEmbedButton:hover .fa-youtube-play, #leastportals .youtubeEmbedButton:hover .fa-youtube-play {
    color: #c73846;
}
#chambers .steamLink .fa-square, #leastportals .steamLink .fa-square {
    color: #ddd;
    font-size: 18px;
    top: 1px;
    margin-right: 2px;
}
#chambers .steamLink .fa-steam-square, #leastportals .steamLink .fa-steam-square  {
    color: #3d3d3d;
    font-size: 20px;
}
#chambers .steamLink:hover .fa-steam-square, #leastportals .steamLink:hover .fa-steam-square {
    color: #4b4b4b;
}
#chambers .chambers, #leastportals .chambers {
    margin: 30px 0px 0px 0px;
    float: left;
    clear: both;
}
#chambers .chamberimage, #leastportals .chamberimage {
    border-top: 3px solid #3096d1;
    width: 100%;
    height: 149px;
    cursor: pointer;
    position: relative;
    box-sizing: content-box;
}
#chambers .chambertitle, #leastportals .chambertitle {
    height: 34px;
    float: right;
    cursor: default;
}
#chambers .titlebg, #leastportals .titlebg {
    background: url("/images/chamber_title_bg.jpg");
    height: 26px;
    font-family: "Aperture";
    font-size: 16px;
    color: #565656;
    text-transform: capitalize;
    float: right;
    padding: 7px 10px 1px 6px;
    box-sizing: content-box;
}
#chambers .titlebg a, #leastportals .titlebg a {
    color: #565656;
    text-decoration: none;
}
#chambers .titlebg a:hover, #leastportals .titlebg a:hover {
    text-decoration: underline;
}
#chambers .titlebghelper, #leastportals .titlebghelper {
    background: url("/images/titlebghelper.png");
    width: 20px;
    height: 34px;
    float: left;
}
#chambers .chamber_scores .firstplace {
    height: 37px;
    background: #dcdcdc;
    color: #3e3e3e;
    font-weight: bold;
}
#chambers .chamber_scores {
    width: 100%;
    font-family: Segoe UI;
    font-size: 12px;
    /*text-transform: uppercase;*/
    /*font-family: Aperture;*/

}
#chambers .chamber_scores .firstplace .entry .boardname {
    /*float: left;*/
    /*padding: 12px 0px 0px 17px;*/
    line-height: 37px;
}
#chambers .chamber_scores .firstplace .entry .score {
    line-height: 37px;
}
#chambers .chamber_scores .firstplace .entry {
    /*font-size: 12px;*/
    font-size: 14px;
    height: 100%;
}
#chambers .chamber_scores .entry {
    width: 100%;
    /*float: left;*/
    /*font-size: 11px;*/
    font-size: 13px;
    /*font-weight: bold;*/
}
#chambers .chamber_scores .othernoobscores .entry {
    /*padding: 3px 0px 3px 0px;*/
    padding: 3px 0px 3px 0px;
    /*line-height: 13px;*/
    line-height: 17px;
    height: 17px;
    box-sizing: content-box;
}
#chambers .chamber_scores .othernoobscores .entry .boardname {
    /*width: 170px;*/
}
#chambers .chamber_scores .firstplace .entry .youtube {
    display:inline-block;
    padding-top: 11px;
}
#chambers .chamber_scores .othernoobscores .entry .youtube {
    display:inline-block;
    padding-top: 0px;
}
#chambers .chamber_scores .entry .youtube {
    float: right;
    font-size: 11px;
    color: #777;
    padding-left: 10px;
 }
 #chambers .chamber_scores .entry .youtube i {
     cursor: pointer;
 }
#chambers .chamber_scores .entry .youtube i:hover {
    color: #555;
}
#chambers .chamber_scores .entry .boardname {
    float: left;
    padding: 0px 0px 0px 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 150px;
}
#chambers .chamber_scores .entry .dateDifference {
    border-radius: 2px;
    margin-left: -2px;
    width: 3px;
    display: inline-block;
    float: left;
    margin-right: -3px;
    height: 100%;
}
#chambers .chamber_scores .othernoobscores .entry .dateDifference {
    margin-top: 1px;
}
#chambers .chamber_scores .entry .score {
    float: right;
    padding-right: 12px;
    margin-left: 12px;
}
#chambers .chamber_scores .othernoobscores {
    margin: 2px 0px 0px 0px;
    color: #3e3e3e;
}
#chambers .icons, #leastportals .icons {
    /*margin-right: 3px;*/
}
#chambers .icons.fa-stack {
    vertical-align: top;
}
#chambers .chamber_icons_right, #leastportals .chamber_icons_right {
    position: absolute;
    top: 124px;
    right: 7px;
}
#chambers .chamber_icons_left, #leastportals .chamber_icons_left {
    position: absolute;
    top: 124px;
    left: 5px;
}
#about {
    font-family: Segoe UI;
    margin: 30px 0px 0px 42px;
}
#about .largeTitle {
    font-family: "Aperture";
    font-size: 40px;
    color: #3e88b3;
    text-transform: uppercase;
}
#chambers .chapternumber, #editProfile .title, #about .title, #chambers .chaptername, #leastportals .chaptername, h1, h2 {
    font-family: "Aperture";
    font-size: 20px;
    color: #3e88b3;
    text-transform: uppercase;
    font-weight: bold;
}
#leastportals .chaptername, #chambers .chaptername, #editProfile .subtitle {
    font-size: 40.5px;
    margin-top: -11px;
}
#about .title {
    font-family: "Aperture";
    font-size: 22px;
    color: #3e88b3;
    text-transform: uppercase;
}
#about .subtitle {
    font-family: "Aperture";
    font-size: 15px;
    color: #3e88b3;
    text-transform: uppercase;
    margin: 0px;
}
#about table th:first-child, #about table td:first-child {
    /*border-right: 1px solid #ddd;*/
}
#about .subtitle {
    padding-bottom: 10px;
}
#about .container {
    margin-bottom: 30px;
    font-size: 16px;
    color: #444;
    width: calc(100% - 45px);
    padding-left: 0px;
    margin-left: 0px;
}
#about .smallContainer {
    margin-bottom: 20px;
}
#about a {
    color: #555;
    font-weight: 500;
}
#chambers .chapterinfo, #leastportals .chapterinfo {
    height: 45px;
    margin: 10px 0px 20px 20px;
    clear: both;
    float: left;
}
#wrapper {
    min-height: 100%;
}
#content {
    /*overflow: hidden;*/
    float: left;
    padding-bottom: 56px;
    /*min-width: 100%;*/
    width: 100%;
}
#footer {
    background: url("/images/footerbg.jpg") repeat;
    margin-top: -56px;
    height: 56px;
    clear: both;
    font-family: Tahoma, Segoe UI;
    font-size: 11px;
    color: #4c4c4c;
    padding: 0 20px;
    min-width: 1050px;
}
#footer a {
    text-decoration: none;
}
#footer a:hover {
    text-decoration: underline;
}
.footerleft {
    float:left;
    /*margin-top: 16px;*/
    line-height: 56px;
}
.footeright {
    float: right;
    line-height: 56px;
}
#changelog #filters {
    width: 98%;
    background: green;
    margin: 30px auto 30px;
    border: 1px solid #94bec8;
    background: #ededed;
    font-weight: bold;
    color: #4b4b4b;
}
#changelog #filter_options {
    margin-top: -3px;
}
#changelog #filters form > div.input {
    width: 13%;
}
#changelog #filters form >  div.input > input {
    width: 100%;
}
#changelog .entry a {
    display: inline-block;
}
#changelog .activity {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 34px);
    margin-top: -30px;
}
#changelog #filter_instructions_lol {
    margin: 5px 0px 5px 10px;
}
#changelog label {
    font-weight: normal;
    margin: 0px 0px 5px 2px;
}
#editProfile label {
    font-weight: normal;
}
#changelog .input {
    margin: 0px 10px 0px 12px;
}
#changelog .checkbox {
    display: block;
    width: 21px;
    height: 21px;
    background:url("/images/unticked.png");
    cursor: pointer;
    text-align: center;
    /*margin: 7px auto;*/
    margin: 10px auto auto;
}
#changelog .ticked {
    background:url("/images/ticked.png");
}
#changelog .check {
    margin: 0px 0px 0px 20px;
    font-weight: normal;
}
#changelog .number {
    display: block;
    width: 80px;
    font-weight: normal;
    margin-left: 20px;
    margin-top: -3px;
}
#changelog .number label.top {
    margin-bottom: 0px;
}
#changelog .number > input {
    width: 85%;
    height: 31px;
    text-align: center;
}
#changelog input[type=submit] {
    background: url("/images/filterbutton.png");
    width: 70px;
    height: 28px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    font-size: 11px;
    font-family: Tahoma, Segoe UI;
    color: #7b7b7b;
}
#changelog #firstentry, .datatable #firstentry {
    background: #dadada;
    border-top: 2px solid #5597bd;
    border-bottom: 1px solid #adadad;
    height: 41px;
    font-weight: bold;
}
#changelog .date, #changelog .date > div {
    display: inline-block;
}
#changelog a:hover {
    text-decoration: underline;
}
#filter_options select {
    height: 31px;
}
.page-entries .entry, #otherentries .entry {
    width: 100%;
    background: #ededed;
    height: 41px;
    /*height: 38px;*/
    border-bottom: 1px solid #a9a9a9;
}
#changelog {
    /*min-width:1450px;*/
}
#changelog #otherentries .entry.hidden, #changelog #otherentries .entry.hidden a, #changelog .datatable #otherentries .entry.hidden {
    color: #a5a5a5;
}

#changelog #firstentry > div, #changelog #otherentries .entry > div  {
    box-sizing: content-box;
    height: 0px;
}
#changelog #firstentry > div:not(.profileIcon)  {
    height: 27px;
    float: left;
    padding-top: 12px;
}
#changelog #otherentries .entry > div:not(.profileIcon) {
    height: 41px;
    float: left;
    line-height: 41px;
}
#changelog .date {
    width: 276px;
    padding-left: 20px;
}
#changelog .datetime {
    width: 152px;
}
#changelog .dateDifference {
    margin-left: 10px;
}
#changelog .profileIcon  {
    padding-top: 3px;
    float: left;
    width: 40px;
}
#changelog .profileIcon img {
    border-radius: 20px;
    margin-right: 15px;
    max-height: 35px;
    /*max-height: 30px;*/
    float: right;
}
#changelog .boardname{
    width: 160px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 30px;
}
#changelog #entries .rank {
    display: inline-block;
    width: 50%;
    float:left;
    /*font-weight: 500;*/
}
#changelog #entries .rank i {
    line-height: 41px;
    font-size: 14px;
}
#changelog .rankImprovement {
    display: inline-block;
    width: 50%;
    float:left;
}
#changelog .time {
    display: inline-block;
    float: right;
    width: 50%;
}
#changelog .map {
    width: 140px;
}
#changelog .chapter {
    width: 135px;
}
#changelog .newscore {
    width: 95px;
    text-align: center;
    padding-right: 27px;
}
#changelog .previousscore {
    width: 100px;
    text-align: center;
    padding-right: 27px;
}
#changelog .improvement {
    width: 103px;
    text-align: center;
    padding-right: 15px;
}
#changelog .worldrecord {
    width: 88px;
}
#changelog .wr {
    background: url("/images/wr.png");
    width: 20px;
    height: 20px;
    margin: 0 auto;
    margin-top: 11px;
}
#changelog .worldrecord {
    text-align: center;
}
#changelog_download {
    float: right;
    margin: 0px 10px 0px 0px;
    font-size: 10px;
    color: #858585;
}
#changelog .morris-hover.morris-default-style, #profile .morris-hover.morris-default-style, #chamber .morris-hover.morris-default-style  {
    text-align: left;
}
#changelog .morris-hover, #profile .morris-hover, #chamber .morris-hover  {
    font-family: Segoe UI;
    font-size: 12px;
    color: #444;
    padding: 10px;
    background: white;
    opacity: 0.95;
     white-space: nowrap;
}
#profile .morris-hover table, #changelog .morris-hover table   {
    font-family: Segoe UI;
    font-size: 12px;
    color: inherit;
    white-space: nowrap;
}
#profile .morris-hover table tr, #changelog .morris-hover table tr   {
    height: 18px;
}
#changelog .morris-hover table td:not(:last-child), #profile .morris-hover table td:not(:last-child) {
    padding-right: 15px;
}
/*#changelog .morris-hover table td > div.players {*/
    /*display: inline-block;*/
    /*text-overflow: ellipsis;*/
    /*overflow: hidden;*/
    /*white-space: nowrap;*/
    /*max-width: 150px;*/
/*}*/
body > #youtube {
    position: fixed;
    top: 0;
    left: calc(50% - 320px);
    width: 640px;
    z-index: 10000;
    box-sizing: content-box;
}
body > #youtube #ytclose {
    width: 20px;
    height: 20px;
    float: right;
    padding-left: 6px;
    padding-top: 2px;
    cursor: pointer;
    color: #888;
    box-sizing: content-box;
}
body > #youtube #ytclose:hover {
    color: #444;
}
body > #youtube #descriptionContainer {
    display: flex;
    width: calc(100% - 2px);
    /*background: url("/images/header_bg.jpg");*/
    background: #eee;
    color: #444;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    box-sizing: content-box;
}
body > #youtube #description {
    width: calc(100% - 31px);
    float: left;
    text-align: center;
    /*font-family: Aperture;*/
    line-height: 25px;
    padding-left: 5px;
    font-size: 14px;
    box-sizing: content-box;
}
body > #youtube #ytplayer {
}

#editProfile {
    margin: 20px 0px 0px 22px;
    font-family: Segoe UI;
}
#editProfile .normalcontent {
    font-size: 12px;
    width: 960px;
    padding-bottom: 10px;
}
#donate a {
    font-size: 10px;
    font-weight: bold;
    color: #7c7c7c;
}
.highlight {
    color: #0066cc;;
}
#profile {
    width: 1257px;
    min-height: 300px;
    margin: 30px auto;
    padding: 10px;
    /*overflow: auto;*/
    /*font-family: Segoe UI, Helvetica, sans-serif;*/
    box-sizing: content-box;
}
#profile .userinformation {
    width: 100%;
    color: #FFF;
    height: 280px;
    position: relative;
    font-weight: bold;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    text-align: center;
}
#profile .userinformation .profilebg {
    background: #c6d7e1;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#profile .userinformation .profilebg.hasavatar img {
    width: 100%;
    position: relative;
    top: -500px;
}
#profile .userinformation .general {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    margin: 0 auto;
}
#profile .userinformation .general-wrapper {
    position: relative;
    top: 50%;
    height: 265px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#profile .userinformation .general .general-wrapper img {
    width: 150px;
    height: 150px;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.6);
    -moz-box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.6);
    box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.6);
    margin-top: 15px;
}
#profile .userinformation .general .general-wrapper .nickname {
    font-size: 26px;
    line-height: 26px;
    /*text-transform: uppercase;*/
    margin-top: 8px;
    font-family: Aperture;
    letter-spacing: 1px;
    /*text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);*/
}
#profile .userinformation .general .general-wrapper .profile-desc {
    font-size: 12px;
    /*margin-bottom: 12px;*/
}
#profile .global-stats {
    /*float: left;*/
    /*width: calc(100% - 15px);*/
    margin-bottom: 10px;
    /*padding-left: 15px;*/
    height: 130px;
    margin-top: 3px;
}
#profile .global-stats .block {
    float: left;
    /*width: 240px;*/
    width: 100%;
}
#profile .global-stats .block-container {
    width: 14%;
    float: left;
    padding-left:10px;
    padding-top: 5px;
}
#profile .global-stats .block-container.wr {
    width: 13%;
}
#profile .global-stats .block-container.oldnew {
    width: 19%;
}
#profile .global-stats .block-container.oldnew .number {
    font-size:25px;
    vertical-align: top;
}
#profile .global-stats .block-container.average {
    width: 16%;
}
#profile .global-stats .block-container.bestworst {
    width: 16%;
}
#profile .global-stats .block-container.ranks {
    width: 15%;
}
#profile .global-stats .block-container.bestworst .title{
    width: 116px;
}
#profile .global-stats .block-container.oldnew .title{
    max-width: 140px;
}
#profile .global-stats .block-container.points {
    width: 16%;
}
#profile .global-stats .block-container.mid {
    margin: 0 15px;
}
#profile .global-stats .block:not(:first-child) .block-inner {
    text-align: left;
    margin-top: 3px;
    /*margin-left: 15px;*/
}
#profile .global-stats .block .number {
    font-size: 26px;
    text-align: right;
    display: inline-block;
    position: relative;
    top: -6px;
    float: left;
    max-width: 73px;
    /*vertical-align: top;*/
    /*line-height:34px;*/
}
#profile .global-stats .block-inner[title] {
    cursor: help;
}
#profile .global-stats .block .number span {
    margin-right: 5px;
}
#profile .global-stats .block .number .no {
    margin-right: 8px;
}
#profile .global-stats .block .title {
    /*max-width: 125px;*/
    font-size: 14px;
    display: inline-block;
    text-align: left;
    position: relative;
    top: -2px;
    margin-left: 10px;
    text-transform: uppercase;
    line-height: 16px;
}
#profile .chapterwrs-wrapper {
    height: 250px;
}
#profile .activity, #profile .chapter-wrs {
    /*float: left;*/
    width: 100%;
}
#profile .chapter-wrs {
    margin-left: 15px;
    width: 473px;
}
#profile .noactivity {
    float: left;
    width: 100%;
    height: 85px;
    text-align: center;
    font-size: 17px;
}
#profile .noactivity span {
    display: block;
}
#profile .noactivity span.manualsearch, #profile .noactivity span.manualsearch a {
    font-size: 12px;
}
#profile .noactivity .noact-wrap {
    padding-top: 30px;
}
#profile .global-stats .upperth {
    position: relative;
    top: -0.7em;
    font-size: 50%;
}
#profile .profile-title span {
    padding-left: 12px;
    padding-right: 20px;
}
#profile .profile-title {
    height: 35px;
    line-height: 35px;
    font-size: 11px;
    border-bottom: 2px solid #2f96d1;
    margin-top: 10px;
    /*float: left;*/
    width: 100%;
}
#profile .column-3 .column .profile-title {
    width: 100%;
}
#profile .column-3 .column {
    /*float: left;*/
    display: inline-block;
    vertical-align: top;
}
#profile .column-3 .column.sp {
    width: 410px;
}
#profile .column-3 .column.mid {
    margin: 0 10px;
}
#profile .column-3 .column.coop {
    width: 410px;
}
#profile .column-3 .block-content {
    /*padding: 20px;*/
    /*float: left;*/
    padding: 20px 12px 0px 0px;
    /*width: calc(100% - 40px);*/
}
#profile .column-3 .column-title {
    margin: 0px 3px 0px 12px;
    border-bottom: 1px solid #b2b2b2;
    padding-bottom: 5px;
    text-transform: uppercase;
}
#profile .column-3 .column-content {
    padding: 7px 0 15px 0;
}
#profile .column-3 .column-content a {
    text-decoration: none;
}
#profile .column-3 .column-content a:hover {
    text-decoration: underline;
}
#profile .column-3 .point-chapter, #profile .column-3 .friendtobeat-entry {
    width: 100%;
    padding: 4px 0;
}
#profile .cell {
    display: inline-block;
    padding-bottom: 2px;
    position: relative;
}
#profile .cell[align="right"] {
    text-align: right;
}
#profile .scoreTable {
    position: relative;
}
#profile .scoreMenuToggle {
    width: 15px;
    text-align: center;
    cursor: pointer;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    font-size: 12px;
    /*vertical-align: text-bottom;*/
}
#profile .scoreMenuToggle i {
    display:none;
}
#profile .scoreMenu {
    z-index: 999;
    display: none;
    padding: 0px 0px 13px 7px;
    margin-left: 7px;
    border-left: #b2b2b2 1px solid;
    overflow: hidden;
}
#profile .scoreMenu .descriptionButton {
    display: inline-block;
    cursor: pointer;
    margin-left: 12px;
    margin-top: 13px;
    width: calc(100% - 12px)
}
#profile .scoreMenu .descriptionContainer {
    padding-top: 13px;
    margin-left: 12px;
    border-bottom: 1px solid #bbb;
}
#profile .scoreMenu .descriptionButton .button{
    text-align: center;
    display: inline-block;
    width: calc(100% - 12px);
    margin-right: 0px;
}
#profile .scoreMenu .descriptionButton:hover i {
    color: #999;
}
#profile .changeMenu {
    display: none;
    padding: 5px 0px 5px 13px;
    margin-left: 3px;
    border-left: #b2b2b2 1px solid;
}
#profile .changeEntryContainer {
    padding-top: 13px;
    /*padding-bottom: 13px;*/
}
#profile .sp .changeEntry > *:not(.changeMenu), #profile .coop .changeEntry > *:not(.changeMenu) {
    display:inline-block;
    padding-bottom: 10px;
}
#profile .sp .changeEntry.header, #profile .coop .changeEntry.header {
    text-transform: uppercase;
    font-size: small;
}
#profile .sp .changeEntry .changeMenuToggle, #profile .coop .changeEntry .changeMenuToggle {
    width: 12px;
    font-size: 12px;
    cursor: pointer;
}
#profile .sp .changeEntry .changeMenuToggle i, #profile .coop .changeEntry .changeMenuToggle i {
    display: none;
}
#profile .sp .changeEntry .date, #profile .coop .changeEntry .date {
    /*width: 82px;*/
    width: 102px;
    padding-right: 4px;
}
#profile .sp .changeEntry .submission, #profile .coop .changeEntry .submission,
#profile .sp .changeEntry .demo-url, #profile .coop .changeEntry .demo-url,
#profile .sp .changeEntry .banned, #profile .coop .changeEntry .banned,
#profile .sp .changeEntry .youtube, #profile .coop .changeEntry .youtube,
#profile .sp .changeEntry .comment, #profile .coop .changeEntry .comment {
    width: 8px;
    font-size: 11px;
    padding-right: 4px;
    color: #bbb;
    box-sizing: content-box;
}
#profile .sp .changeEntry .youtube, #profile .coop .changeEntry .youtube {
    padding-right: 36px;
}
#profile .sp .changeEntry .rank, #profile .coop .changeEntry .rank {
    width: 32px;
    text-align: right;
    padding-right: 0px;
}
#profile .sp .changeEntry .rankDiff, #profile .coop .changeEntry .rankDiff {
    width: 72px;
    text-align: right;
    padding-right: 0px;
}
#profile .sp .changeEntry .rankDiff .preRank, #profile .coop .changeEntry .rankDiff .preRank,
#profile .sp .changeEntry .rankDiff .postRank, #profile .coop .changeEntry .rankDiff .postRank {
    width: 36px;
    display: inline-block;
    text-align: center;
}
#profile .sp .changeEntry .improvement, #profile .coop .changeEntry .improvement {
    width: 55px;
    text-align: right;
    padding-right: 0px;
}
#profile .sp .changeEntry .pointImprovement, #profile .coop .changeEntry .pointImprovement {
    width: 50px;
    text-align: right;
    padding-right: 0px;
}
#profile .sp .changeEntry .dateTime, #profile .coop .changeEntry .dateTime {
    padding-right: 5px;
}
#profile .sp .changeEntry .score, #profile .coop .changeEntry .score {
    width: 45px;
    text-align: right;
}
#profile .sp .scoreMenu .submissionContainer, #profile .coop .scoreMenu .submissionContainer,
#profile .sp .scoreMenu .status, #profile .coop .scoreMenu .status {
    margin-left: 12px;
}
#profile .sp .scoreMenu .submissionForm, #profile .coop .scoreMenu .submissionForm {
    padding-top: 15px;
    border-top: 1px solid #bbb;
    margin-top: 4px;
}
#profile .sp .scoreMenu .createSubmission, #profile .coop .scoreMenu .createSubmission {
    padding-top: 5px;
}
#profile .sp .scoreMenu .status, #profile .coop .scoreMenu .status {
    padding-top: 10px;
}
#profile .sp .scoreMenu .status i, #profile .coop .scoreMenu .status i {
    float: left;
    vertical-align: middle;
    line-height: 100%;
}
#profile .sp .scoreMenu .status .text, #profile .coop .scoreMenu .status .text {
    display: inline-block;
    width: 341px;
    /*float: right;*/
    padding-left: 10px;
}
#profile .sp .scoreMenu .submissionForm, #profile .coop .scoreMenu .submissionForm {
    /*padding-bottom: 4px;*/
}
#profile .demoUploadForm {
    display: inline;
}
#profile .filename {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
}
#profile .changeForm .filename {
    max-width: 183px;
}
#profile .submissionForm .filename {
    max-width: 229px;
}
#profile .submissionForm input[type=text] {
    float:right;
    text-align: right;
}
#profile form {
    margin-bottom: 0px;
}
#profile .setYoutubeContainer input[name="youtubeID"], #profile .setCommentContainer input[name="comment"] {
    display: inline-block;
    width: 252px;
}
#profile .uploadDemoContainer, #profile .setYoutubeContainer, #profile .setCommentContainer {
    margin-bottom: 1px;
    margin-top: 1px;
}
#profile .button, #editProfile .button {
    display: inline-block;
    cursor: pointer;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    color: #7b7b7b;
    border: 1px solid #AAA;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
    padding: 2px 5px 3px;
    line-height: 18px;
    margin: 3px 3px 3px 0px;
    font-weight: normal;
}
#profile label.button input[type="file"] {
    position: fixed;
    top: -1000px;
}
#profile .button:hover, #editProfile .button:hover {
    background: #CCC;
}
#profile .button:active, #editProfile .button:active {
    /*background: #CCF;*/
}
#profile .sp .title, #profile .coop .title  {
    /*padding-left: 5px;*/
}
#profile .sp .wr-diff, #profile .coop .wr-diff  {
    /*padding-right: 5px;*/
}
#profile .sp .dateDifferenceColor, #profile .coop .dateDifferenceColor   {
    height: 9px;
    width: 2px;
    margin-bottom: -1px;
    margin-left: -2px;
    /*margin-right: 1px;*/
}
#profile .sp .title  {
    width: 130px;
}
#profile .coop .title  {
    width: 130px;
}
#profile .sp .chamberScoreInfo > .rank, #profile .coop .chamberScoreInfo > .rank  {
    /*width: 27px;*/
    width: 21px;
    margin-left: 6px;
    height: 14px;
}
#profile .sp .chamberScoreInfo > .rank i, #profile .coop .chamberScoreInfo > .rank i, #profile .timespoints .rank i {
    font-size: 11px;
}
#profile .sp .chamberScoreInfo > .rank i, #profile .coop .chamberScoreInfo > .rank i, #profile .timespoints .rank i {
    position: absolute;
    bottom: -1px;
    right: -1px;
}
#profile .sp .rank i, #profile .coop .rank i {
    margin-left: 11px;
    font-size: 12px;
}
#profile .timespoints .rank i {
    margin-left: 11px;
}


#profile .sp .demo-url, #profile .coop .demo-url,
#profile .sp .youtube, #profile .coop .youtube,
#profile .sp .comment, #profile .coop .comment {
    width: 10px;
}
#profile .sp .demo-url i, #profile .coop .demo-url i, #profile .sp .youtube i, #profile .coop .youtube i,
#profile .sp .submission i, #profile .coop .submission i, #profile .sp .banned i, #profile .coop .banned i,
#profile .sp .comment i, #profile .coop .comment i{
    font-size: 9px;
    color: #bbb;
}
#profile .sp .demo-url i, #profile .coop .demo-url i,
#profile .sp .youtube i, #profile .coop .youtube i,
#profile .sp .comment i, #profile .coop .comment i {
    cursor: pointer;
}
#profile .sp .comment i:hover, #profile .coop .comment i:hover,
#profile .sp .demo-url i:hover, #profile .coop .demo-url i:hover,
#profile .sp .youtube i:hover, #profile .coop .youtube i:hover,
#profile .sp .comment i:hover, #profile .coop .comment i:hover {
    color: #888;
}



#changelog .demo-url, #changelog .youtube, #changelog .submission, #changelog .comment, #changelog .banScore {
    width: 27px;
    text-align: center;
}
#changelog .banScore {
    color: crimson;
}
#changelog .demo-url i, #changelog .youtube i, #changelog .submission i, #changelog .comment i, #changelog .setBannedStatus i, #changelog .banScore .status,
#chamber .demo-url i, #chamber .youtube i, #chamber .submission i, #chamber .comment i {
    color: #888;
}
#changelog .demo-url i, #changelog .youtube i, #changelog .comment i,
#chamber .demo-url i, #chamber .youtube i, #chamber .demo-url i, #chamber .youtube i, #chamber .comment i {
    cursor: pointer;
}
#changelog .demo-url i, #changelog .youtube i, #changelog .submission, #changelog .comment, #changelog .banScore   {
    font-size: 12px;
}
#changelog .demo-url i:hover, #changelog .youtube i:hover, #changelog .setBannedStatus i:hover, #changelog .comment i:hover,
#chamber .demo-url i:hover, #chamber .youtube i:hover, #chamber .comment i:hover {
    color: #444;
}


#chamber .entry .demo-url, #chamber .entry .youtube, #chamber .entry .comment, #chamber .entry .submission {
    height: 100%;
    float: right;
    text-align: right;
}
#chamber .entry .demo-url, #chamber .entry .youtube, #chamber .entry .comment {
    width: 25px;
}
#chamber .demo-url i, #chamber .youtube i, #chamber .comment i, #chamber .submission i  {
    margin-top: 15px;
    font-size: 13px;
}
#chamber .submission {
    padding-right: 10px;
    width: 15px;
}


#profile .sp .score, #profile .coop .score  {
    width: 55px;
}
#profile .sp .wr-diff, #profile .coop .wr-diff  {
    width: 52px;
}
#profile .sp .nr-diff, #profile .coop .nr-diff  {
    width: 52px;
}
#profile .timespoints {
    width: 410px;
}
#profile .timespoints .scoretable {
    padding-left: 10px;
}
#profile .timespoints .title {
    width: 140px;
}
#profile .timespoints .rank {
    width: 30px;
}
#profile .timespoints .score {
    width: 66px;
}
#profile .timespoints .wr-diff {
    width: 65px;
}
#profile .timespoints .nr-diff  {
    width: 60px;
}
#profile .user-noexist {
    text-align: center;
    margin-top: 130px;
}
#profile .user-noexist .stmt {
    font-size: 13px;
}
#editProfile .normalcontent input {
    width: 380px;
    margin: 5px 0px 16px 0px;
}
#profile .usericons {
    margin: 10px 5px;
    display: inline-block;
}
#profile .usericons a{
    display: inline-block;
}
#profile .usericons span {
    width: 25px;
    height: 25px;
    display: inline-block;
    background-size: contain;
    /*margin: 0 3px;*/
    vertical-align: bottom;
}
#profile .twitch-linked {
    background: #6441A5;
}
#profile .uploadInfo {
    background: #226D99;
}
#profile .uploadInfo a, #profile .YoutubeUploadInfo a {
    font-weight: bold;
    color: #FFF;
}
#profile .place-expl {
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
}

#profile .scoretable {
    font-size: small;
    width: 100%;
}
#profile .youtubeLink .fa-square {
    color: #ac303C;
    font-size: 27px;
}
#profile .youtubeLink:hover .fa-square {
    color: #c73846;
}
#profile .youtubeLink .fa-play {
    color: #eee;
    font-size: 14px;
    top: 1px;
    left: 1px;
}
#profile .twitchLink .fa-square {
    color: #6441A5;
    font-size: 27px;
}
#profile .twitchLink:hover .fa-square {
    color: #7d5bbe;
}
#profile .twitchLink .fa-twitch {
    color: #eee;
    font-size: 16px;
    top: 3px;
    left: 0px;
}
#profile .steamLink .fa-square  {
    color: #eee;
    font-size: 25px;
    top: 1px;
}
#profile .steamLink .fa-steam-square {
    font-size: 27px;
    color: #333;
}
#profile .steamLink:hover .fa-steam-square  {
    color: #444;
}

#profile .profile-title .score {
    padding-right: 20px;
    float: right
}

#profile .column-title .chaptertime {
    padding-right: 20px;
    float: right
}

#profile .profile-title {
    text-transform: uppercase;
}


/* CHAMBER SPECIFIC STYLING */
#chamber {
    width: 960px;
    /*	background: blue;*/
    margin: 40px auto;
}
#chamber .chamberview {
    position: relative;
    width: 100%;
    height: 250px;
    border-top: 3px solid #3096d1;
    border-bottom: 3px solid #3096d1;
    /*background-size: contain;
    background-repeat: no-repeat;*/
    font-family: "Aperture";
    color: #3e88b3;
    text-transform: uppercase;
    background-size: cover;
}
#chamber .chamberchaptername {
    font-size: 20px;
    opacity: 0;
}
#chamber .chamberchambername {
    font-size: 37.5px;
    font-weight: bold;
    opacity: 0;
    color: #323C40;
}
#chamber .chamberchambername {
    cursor: pointer;
}
#chamber .chamberinfo  {
    width: 264px;
    height: 149px;
    margin: 93px auto;
    text-align: center;
    color: #E1E8EB;
    line-height: 28px;
    width: 100%;
}
#chamber .chamberinfo.chamberchambername, .chamberinfo.chamberchambername  {
    opacity: 0.9;
}
#chamber .entry {
    width: 100%;
    background: #ededed;
    height: 42px;
    border-bottom: 1px solid #a9a9a9;
}

#chamber .entry > *  {
    float: left;
    font-family: Segoe UI;
    color: #4A4A4A;
    font-size: 14px;
    line-height: 42px;
}
#chamber .entry .rank {
    text-align: center;
    width: 80px;
}
#chamber .entry .boardname {
    width: 300px;
    /*text-transform: uppercase;*/
    /*font-weight: bold;*/
    font-family: Aperture;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#chamber .entry .date {
    width: 130px;
    height: 100%;
    float:right;
    text-align: right;
}
#chamber .entry .date a, #chamber .entry .boardname a{
    height: 42px;
    display: inline-block;
}
#chamber .entry .boardname a {
    padding-top: 0px;
}
#chamber .entry .score {
    float: right;
    width: 50px;
    text-align: right;
    margin-right: 10px;
    margin-left: 22px;
}
#aggregated #chamber .entry .score {
    margin-right: 15px;
}
#chamber .datatable {
    width: 100%;
}
.entry .score a {
    text-decoration: none;
    color: inherit;
}
#chamber .entry.you .boardname, #chamber .entry.you .boardname a,
#chamber .entry.you .rank, #chamber .entry.you .rank a,
#chamber .entry.you .score, #chamber .entry.you .score a {
    color: #0066cc; !important;
    /*font-weight: bold;*/
}
.entry .boardname a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
.entry .boardname a:hover {
    text-decoration: underline;
}
#chamber .profileIcon  {
    margin-right: 15px;
    /*width: 50px;*/
}
#chamber .profileIcon a {
    display: inline-block;
    height: 0px;
}
#chamber .profileIcon img {
    border-radius: 20px;
    max-height: 35px;
}
#chamber .controls.left {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
#chamber .controls.topright {
    position: absolute;
    top: 10px;
    right: 10px;
}
#chamber .controls.topleft {
    position: absolute;
    top: 10px;
    left: 10px;
}
#chamber .chamberControls {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
#aggregated {
    margin: auto;
}
#aggregated .chamberchambername {
    cursor: default;
}
#aggregated .pointsControls {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
#aggregated .timeControls {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
#aggregated #chamber {
    width: 960px;
}
#aggregated #chamber .entry .boardname {
    width: 250px;
}
#aggregated #points, #aggregated #time {
    width: 49.5%;
    margin-left:0%;
    margin-right:0%;
}
#changelog .controls {
    position: absolute;
    margin-top: 9px;
    left: 77px;
}
.controls {
    color: #888888;
    opacity: 1;
}
.controls .button, .controls span.currentPageLabel {
    border-radius: 5px;
    background: #ededed;
    display: inline-block;
    border: 2px solid #aaa;
    box-sizing: content-box;
}
.controls .button {
    cursor:pointer;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    font-size: 13px;
    font-family: Segoe UI;
    text-transform: none;
    height: 24px;
    line-height: 24px;
}
.controls .linkButton a {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: inherit;
}
.controls .button span.name {
    vertical-align: middle;
}
.controls span.currentPageLabel {
    font-size: 15px;
    line-height: 24px;
    height: 24px;
    /*width: 60px;*/
}
#changelog .controls span.currentPageLabel {
    font-size: 13px;
    line-height: 22px;
    height: 24px;
    /*width: 90px;*/
}
#chamber .button.standardButton {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 24px;
}
.controls span.currentPageLabel {
    vertical-align: middle;
    text-align: center;
}
.controls .button.previous span.name,.controls span.currentPageLabel {
    padding-left: 8px;
}
.controls .button.next span.name, .controls span.currentPageLabel {
    padding-right: 8px;
}
.controls .button.previous span.icon {
    padding-right: 3px;
}
.controls .button.next span.icon {
    padding-left: 3px;
}
.controls span.icon {
    font-size: 8px;
    display: inline-block;
    width: 20px;
    text-align: center;
    vertical-align: middle;
}
#aggregated #chamber .controls .button span.icon i {
    /*line-height: 23px;*/
}
#chamber .controls .button span.icon i {
    /*line-height: 23px;*/
}
#changelog .controls .button span.icon i {
    /*line-height: 23px;*/
}
.seperate {
    display: inline-block;
    opacity: 0;
}
#chamber .not-public-chambers a, #chamber .chamber-full-explanation a, #profile .uploadInfo a, #announcement a {
    color: #FFF;
}
#profile .uploadInfo, #chamber .not-public-chambers, #announcement {
    background: #3096d1;
    /*width: calc(100% - 10px);*/
    width: 100%;
    line-height: 35px;
    color: #FFF;
    display: none;
    font-size: 11px;
    line-height: 21px;

    padding: 5px;
}
#chamber .not-public-chambers .close-btn, #profile .uploadInfo .close-btn, #announcement .close-btn {
    cursor: pointer;
    background: url("/images/cross.png");
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
    float: right;
    margin-top: 4px;
}
#chamber .not-public-chambers .notification, #profile .uploadInfo .notification, #announcement .notification {
    width: calc(100% - 42px);
    display: inline-block;
    margin-right: 7px;
    margin-left: 10px;
}
#chamber .not-public-chambers .close-btn {
    margin-top: 4px;
}
#chamber .not-public-chambers  {
    margin-top: -3px;
    background: #3096d1;
}
.popover-content {
    word-wrap: break-word;
}
@-moz-document domain(board.portal2.sr) {
    #changelog .datetime{
        width: auto !important;
    }
    #profile .global-stats .block .number {
        font-size: 20px !important;
    }
    #profile .global-stats .block .title{
        font-size: 12px !important;
    }
}

.changelog-filter-options-wrapper{
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.changelog-filter-options-group{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}