Options +FollowSymLinks

RewriteEngine On
RewriteBase /

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^.*$ ./index.php
#RewriteRule !^(^$|/home|/coop|/changelog|/aggregated|/leastportals|/views/images|/views/style|index\.php) [NC,F]
RewriteRule ^(classes/|data/|views/|drive/|vendor/|models/|util/) - [R=404,L,NC]

#RewriteCond %{REQUEST_FILENAME} -f [OR]
#RewriteCond %{REQUEST_FILENAME} -d
#RewriteRule .? - [L]
#
#RewriteRule ^([^/]*)$ index.php?page=$1 [L]
#RewriteRule ^([^/]*)/([^/]*)$ index.php?page=$1&id=$2 [L]
#RewriteRule ^([^/]*)/([^/]*)/([^/]*)$ index.php?page=$1&id=$2&type=$3 [L]

<FilesMatch "\.(|jpg|jpeg|png|ico|eot|svg|ttf|wolf)$">
  Header set Cache-Control "max-age=86400"
</FilesMatch>
