Options +FollowSymLinks

RewriteEngine On
RewriteBase /

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^.*$ ./index.php

<FilesMatch "\.(|jpg|jpeg|png|ico|eot|svg|ttf|wolf)$">
  Header set Cache-Control "max-age=86400"
</FilesMatch>

php_value upload_max_filesize 16M
Header add Access-Control-Allow-Headers "origin, x-requested-with, content-type"
Header add Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"
Header edit Set-Cookie ^(.*)$  $1;SameSite=Lax;Secure;HttpOnly

Header always set X-Content-Type-Options nosniff
Header always set X-Frame-Options DENY
